* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    background: yellow;
}

h1 {
    text-align: center;
    background-color: green;
}

.main-nav {
    display: flex;
    list-style: none;
    justify-content: space-around;
    background-color: #adf;
}

footer {
    background-color: blue;
    text-align: center;
}